div#big-calendar,
div#small-calendar {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 2px #444;
}

div#big-calendar {
	padding: 10px;
	width: 220px;
}

	p#month-paragraph {
		/*float: left;
		clear: both;*/
		margin: 5px 0;
		font-size: 24px;
	}

		p#month-paragraph i {
			margin-top: 6px;
			font-size: 20px;
		}

	p#year-paragraph {
		/*float: right;
		clear: both;*/
		margin: 0px 0;
		font-size: 16px;
	}

		p#year-paragraph i {
			font-size: 12px;
		}

	table.calendar th,
	table.calendar td {
		padding: 5px;
		font-size: 14px;
		text-align: center;
	}

div#small-calendar {
	display: none;
	padding: 3px;
	width: 42px;
}

	p#small-year,
	p#small-month,
	p#day {
		margin: 0px;
	}

	p#small-year { font-size: 10px; }
	p#small-month { font-size: 14px; }
	p#day { font-size: 24px; }

@media only screen and (max-width: 1000px) {

	div#big-calendar { display: none; }
	div#small-calendar { display: block; }

}