input[type="color"] {
	padding: 0;
	border: none;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 5px;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 5px #eee;
	font-family: Quicksand, Arial, sans-serif;
	font-size: 14px;
}

textarea {
	height: 150px;
	resize: vertical;
}

input:focus,
textarea:focus {
	border: 1px solid #333;
}

label {
	display: inline-block;
	padding: 2px 5px;
}

form label {
	width: 160px;
}

input[type="text"],
input[type="email"],
textarea,
button#buttonSendEmail {
	width: calc(100% - 170px);
}

label,
output,
progress,
input,
textarea {
	vertical-align: middle;
}

@media only screen and (max-width: 700px) {

	input[type="text"],
	input[type="email"],
	textarea,
	button#buttonSendEmail {
		width: 100%;
	}

}