* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	font-family: Quicksand, Arial, sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	overflow-y: scroll;
	background-attachment: fixed;
	background-color: #eee;
}

nav#wrapper
{
	position: absolute;
}

	nav {
		position: fixed;
		z-index: 0;
		top: 0;
		width: 250px;
		height: 100%;
		overflow-x: hidden;
		white-space: nowrap;
		scrollbar-width: thin;
		font-size: 24px;
		background-color: #eee;
	}

		nav a {
			display: block;
			padding: 6px 10px;
			cursor: pointer;
		}

		nav a:hover {
			background-color: rgba(176,176,176,0.2);
			box-shadow: 0px 0px 2px #777;
		}

			nav a i {
				margin-right: 5px;
			}

		nav img {
			width: 25px;
			margin-left: 4px;
			margin-right: 8px;
		}

		div#calendar-container {
			display: none;
		}

nav,
main {
	transition: margin 0.4s ease-in-out, width 0.4s ease-in-out;
}

main {
	position: relative;
	z-index: 1;
	margin: 10px;
	margin-left: 250px;
}
	
	main a {
		border-bottom-width: 1px;
		border-bottom-style: dotted;
	}

	main a:hover {
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}

	div#paper-page {
		position: relative;
		z-index: 1;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 5px #888;
	}

		header {
			margin-left: auto;
			margin-right: auto;
			opacity: 0.8;
			text-align: center;
		}

			div#h1 {
				float: right;
				text-align: initial;
				padding: 10px 0;
			}

				i.logo {
					font-size: 3.5em;
					margin: 5px;
				}

				h1 {
					margin: 0;
					padding: 0;
					font-size: 1.5em;
				}

				h1#sub {
					padding-left: 1px;
					font-size: 0.875em;
				}

		section {
			padding: 20px 0;
			margin-top: -100px;
			padding-top: 120px;
		}

		section,
		section:target ~ section#home {
			display: none;
		}

		section#home,
		section:target {
			display: block;
		}

			section.markdown h2 img,
			section.markdown h2 span {
				vertical-align: middle;
			}

			section.markdown img {
				max-width: 100%;
			}

			section.markdown a.no-border {
				border-width: 0;
				opacity: 
			}

			article {
				/*overflow-x: hidden;*/
				/*overflow-y: auto;*/
			}

				article#interests ul {
					display: inline;
					padding-left: 0px;
					margin: 0px;
				}

				article#interests ul li {
					display: inline;
				}

		footer {
			position: sticky;
			z-index: 0;
			bottom: 20px;
			padding-top: 10px;
			text-align: center;
		}

			footer h2 {
				font-size: 1.375em;
			}






hr {
	margin: 5px 0;
	border-top-width: 0;
	border-bottom-width: 1px;
	border-style: solid;
	color: #aaa;
}

blockquote p {
	font-style: italic;
}































h1, h2, h3, h4, h5 {
	font-weight: normal;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	margin: 0;
	font-size: 1.5em;
}

h5 {
	margin: 0;
	font-size: 1em;
}




i,
a,
button {
	color: #247;
}

a,
.link {
	text-decoration: none;
}

button {
	outline: none;
}

button.link {
	padding: 2px;
	background-color: inherit;
	box-shadow: none;
}

#projects button {
	margin: 1px;
	padding: 7px;
}

button,
.button,
select {
	display: inline-block;
	margin: 5px;
	padding: 7px;
	border: none;
	background-color: rgb(238, 238, 238); /* #eee */
	box-shadow: 0px 0px 2px #777;
	transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	cursor: pointer;
}

button:hover,
.button:hover {
	border: none;
	background-color: rgba(238, 238, 238, 0.7);
	box-shadow: 0px 0px 4px #777;
}

progress {
	padding: 5px;
}











article.offer {
	float: left;
	width: 33.3%;
	color: #247;
}

	/*.offer hr {
		//color: #ccc;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}*/

article#mobile-apps {
	opacity: 0.3;
	cursor: auto;
}

	div.offer-box {
		height: 280px;
		text-align: center;
	}

	article.offer:focus div.offer-box {
		position: relative;
		z-index: 2;
		margin-bottom: -2px;
		border: 1px solid #ccc;
		border-bottom: none;
		background-color: #f5f5f5;
	}

	article.offer:focus div#web-apps-content,
	article.offer:focus div#desktop-apps-content {
		border: 1px solid #ccc;
		background-color: #f5f5f5;
	}

		div.offer-box h3 {
			margin: 0;
		}

	div#web-apps-box,
	div#desktop-apps-box {
		cursor: pointer;
	}

	div#web-apps-box:hover,
	div#desktop-apps-box:hover {
		background-color: #f5f5f5;
	}



	div.offer-content {
		display: none;
		padding: 10px;
		width: 300%;
		background-color: #f5f5f5;
	}

	div#desktop-apps-content {
		margin-left: -100%;
	}

	article.offer:focus div#web-apps-content,
	article.offer:focus div#desktop-apps-content {
		display: block;
	}

		div.offer-content div,
		div.offer-content div {
			margin: 5px 0;
		}






/*.box-webdev {
	padding: 20px 10px;
	height: 300px;
}*/





.box,
.box-link {
	border: none;
	box-shadow: 0 0 3px #888;
	transition: opacity .2s ease-in-out;
	cursor: pointer;
}

.box-link:hover {
	opacity: 0.8;
	//transform: scale(1.01);
}

.scale-up:hover {
	opacity: 1;
	transform: scale(1.1);
}

.scale-down:hover {
	opacity: 1;
	transform: scale(0.9);
}

.margin { margin: 6px 3px; }
.padding { padding: 3px; }


.box-link img,
.box video {
	display: block;
	width: 100%;
}

/*fieldset {
	text-align: center;
}*/

#project-inputs {
	margin: 10px 0;
	text-align: right;
}

	#project-select {
		display: none;
	}

	#project-view {
		display: inline-block;
		margin: 10px 0;
		text-align: right;
	}



		

		



/*.card-container a {
	padding: 5px;
	border: none;
}

.card-container a:hover {
	border: none;
	background-color: rgba(128,128,128,0.1);
}

.card-container h3 {
	font-size: 16px;
}

.card-container p {
	font-size: 12px;
}*/






li { margin: 10px 0; }





section#settings ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

	section#settings ul ul {
		padding-left: 25px;
	}

label#txtSansSerif {
	font-family: sans-serif;
}

	#Quicksand {
		font-family: Quicksand;
	}

label#txtSerif {
	font-family: serif;
}

	#PlayfairDisplay {
		font-family: PlayfairDisplay;
	}

	#CormorantGaramond {
		font-family: CormorantGaramond;
	}

label#txtMonospace {
	font-family: monospace;
}

	#SyneMono {
		font-family: SyneMono;
	}

	#SpecialElite {
		font-family: SpecialElite;
	}

	#DOSEGA {
		font-family: DOSEGA;
	}

label#txtCursive {
	font-family: cursive;
}

label.txtBold {
	font-weight: bold;
}

label.txtItalic {
	font-style: italic;
}

label.txtSmallCaps {
	font-variant: small-caps;
}






/*#audio-container {
	padding: 3px;
}

	audio {
		display: inline-block;
		width: calc(100% - 170px);
		border: none;
		border-radius: 50px;
		box-shadow: 0 0 4px #444;
		vertical-align: middle;
	}

	#audio-container label {
		display: inline-block;
		margin: 10px 0;
		width: 160px;
		vertical-align: middle;
	}*/






@media only screen and (max-width: 1000px) {

	nav#wrapper {
		z-index: 1;
		box-shadow: 0 0 5px #444;
	}

		nav {
			width: 50px;
		}

	main {
		z-index: 0;
		margin: 0;
		margin-left: 50px;
	}

		div#paper-page {
			padding: 5px;
		}

	/*audio {
		width: 100% ;
	}

	#audio-container label {
		float: right;
	}*/

}

@media only screen and (max-width: 700px) {
	article.offer {
		width: 100%;
	}

		div.offer-content {
			width: 100%;
		}

		div#desktop-apps-content {
			margin-left: auto;
		}
}