table {
	padding: 10px;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px;
}

table.vertical-line td:first-child {
	width: 80px;
	border-right: 1px solid #000;
}








table#project-table .table-invisible {
	display: none;
}

table#project-list .list-invisible,
table#project-grid .list-invisible {
	display: none;
}



table#project-list tr,
table#project-grid tr {
	display: block;
	position: relative;
	border: none;
	background-color: #eee;
	box-shadow: 0 0 2px #444;
}

table#project-list tr {
	margin: 10px 0;
	min-height: 80px;
}

table#project-grid tr {
	display: inline-block;
	margin: 5px;
	width: calc(33% - 10px);
}

table#project-list tr:first-child,
table#project-grid tr:first-child {
	display: none;
}

table#project-list tr:hover,
table#project-grid tr:hover {
	border: none;
	box-shadow: 0 0 5px #444;
}

	table#project-table th {
		border-bottom: 1px solid black;
		text-align: left;
	}

	table#project-table th,
	table#project-table td {
		padding: 5px;
	}

	table#project-list td,
	table#project-grid td {
		display: block;
		padding: 0;
	}

	table#project-table th:nth-child(1),
	table#project-table td:nth-child(1),
	table#project-table th:nth-child(3),
	table#project-table td:nth-child(3),
	table#project-table th:nth-child(4),
	table#project-table td:nth-child(4),
	table#project-table th:nth-child(5),
	table#project-table td:nth-child(5),
	table#project-table th:nth-child(6),
	table#project-table td:nth-child(6) {
		text-align: center;
	}

	table#project-table th:nth-child(8),
	table#project-table td:nth-child(8) {
		/*text-align: right;*/
	}

	table#project-list td:nth-child(2), /* TITLE */
	table#project-list td:nth-child(3), /* LANGUAGE */
	table#project-list td:nth-child(4), /* INITIATE*/
	table#project-list td:nth-child(5), /* UPDATE */
	table#project-list td:nth-child(6), /* STATUS */
	table#project-list td:nth-child(7), /* PROGRESS */
	table#project-list td:nth-child(8) { /* TECHNOLOGIES */
		display: block;
		position: absolute;
	}

	table#project-grid td:nth-child(2), /* TITLE */
	table#project-grid td:nth-child(3), /* LANGUAGE */
	table#project-grid td:nth-child(4), /* INITIATE*/
	table#project-grid td:nth-child(5), /* UPDATE */
	table#project-grid td:nth-child(6), /* STATUS */
	table#project-grid td:nth-child(7), /* PROGRESS */
	table#project-grid td:nth-child(8) { /* TECHNOLOGIES */
		display: block;
		position: static;
		margin: 0px;
	}

	table#project-list td:nth-child(2) {
		left: 210px;
		top: 10px;
		margin: 0;
		font-size: 24px;
	}

	table#project-list td:nth-child(3) {
		top: 10px;
		right: 10px;
	}

	table#project-list td:nth-child(4) {
		left: 210px;
		bottom: 10px;
	}

	table#project-list td:nth-child(5) {
		left: 300px;
		bottom: 10px;
	}

	table#project-list td:nth-child(6) {
		left: 390px;
		bottom: 10px;
	}

	table#project-list td:nth-child(7) {
		left: 430px;
		bottom: 10px;
	}

	table#project-list td:nth-child(8) {
		bottom: 10px;
		right: 10px;
	}

	table#project-grid td:nth-child(1) {
		display: block;
		width: 100%;
		border-bottom: 1px solid #aaa;
	}

	table#project-grid td:nth-child(2) {
		margin: 10px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 24px;
	}

	table#project-grid td:nth-child(3) {
		float: left;
		padding: 10px;
		width: 50%;
	}

	table#project-grid td:nth-child(4) {
		float: right;
		padding: 10px;
		width: 50%;
		text-align: right;
	}

	table#project-grid td:nth-child(5) {
		float: left;
		padding: 10px;
		width: 20%;
	}

	table#project-grid td:nth-child(6) {
		float: right;
		padding: 10px;
		width: 80%;
		text-align: right;
	}

	table#project-grid td:nth-child(7) {
		float: left;
		margin: 10px;
	}

	table#project-grid td:nth-child(8) {
		float: right;
		margin: 10px;
	}

		table#project-table td:nth-child(8) span,
		table#project-list td:nth-child(8) span,
		table#project-grid td:nth-child(8) span {
			color: #247;
			font-weight: bold;
		}

		table#project-table img {
			vertical-align: middle;
		}

		table#project-list img {
			display: block;
			width: 200px;
			/*border-right: 1px solid #ddd;*/
		}

		table#project-grid img {
			display: block;
			width: 100%;
			height: 175px;
			object-fit: cover;
		}

		table progress {
			width: 60px;
			height: 20px;
		}

		table#project-grid progress {
			width: 100%;
			height: 20px;
		}

		/*table i {
			font-size: 20px;
		} */

/*table#project-table tr:hover {
	background-color: rgba(176,176,176,0.2);
	box-shadow: 0px 0px 2px rgba(128,128,128,0.9);
}

table#project-table tr:first-child:hover {
	background-color: initial;
	box-shadow: none;
}*/

@media only screen and (max-width: 700px) {

	table#project-table th:nth-child(1),
	table#project-table td:nth-child(1),
	table#project-table th:nth-child(3),
	table#project-table td:nth-child(3),
	table#project-table th:nth-child(4),
	table#project-table td:nth-child(4),
	table#project-table th:nth-child(5),
	table#project-table td:nth-child(5),
	table#project-table th:nth-child(6),
	table#project-table td:nth-child(6),
	table#project-table th:nth-child(7),
	table#project-table td:nth-child(7),
	table#project-list th:nth-child(3),
	table#project-list td:nth-child(3),
	table#project-list th:nth-child(4),
	table#project-list td:nth-child(4),
	table#project-list th:nth-child(5),
	table#project-list td:nth-child(5),
	table#project-list th:nth-child(6),
	table#project-list td:nth-child(6),
	table#project-list th:nth-child(7),
	table#project-list td:nth-child(7) {
		display: none;
	}

	table#project-grid tr {
		display: inline-block;
		margin: 5px;
		width: calc(100% - 10px);
		height: 400px;
	}
}