table,
#project-table {
	padding: 10px;
	border-collapse: collapse;
	width: 100%;
}

th,
td,
#project-table .tr {
	padding: 10px;
}

table.vertical-line td:first-child {
	width: 80px;
	border-right: 1px solid #000;
}







#project-table .table-invisible {
	display: none;
}

.table-visible,
.list-visible,
.grid-visible {
	display: none;
}

#project-table .table-visible {
	display: inline;
}

#project-list .list-visible,
#project-grid .grid-visible {
	display: block;
}



#project-table {
	display: table;
}

	#project-table .tr {
		display: table-row;
		border: none;
		transition: none;
	}

	#project-list .tr,
	#project-grid .tr {
		position: relative;
		border: none;
		background-color: #eee;
		box-shadow: 0 0 2px #444;
		transition: none;
	}

	#project-list .tr {
		display: block;
		margin: 10px 0;
	}

	#project-grid .tr {
		display: inline-block;
		margin: 5px;
		width: calc(33% - 10px);
		vertical-align: middle;
	}

	#project-list .tr:first-child,
	#project-grid .tr:first-child {
		display: none;
	}

	#project-list .tr:hover,
	#project-grid .tr:hover {
		border: none;
		box-shadow: 0 0 5px #444;
		opacity: 0.75;
	}

	#project-table .tr:hover {
		background-color: rgba(176,176,176,0.1);
		box-shadow: 0px 0px 1px rgba(128,128,128,0.9);
	}

	#project-table .tr:first-child:hover {
		background-color: initial;
		box-shadow: none;
	}

		#project-table .tr .th {
			color: #247;
			cursor: pointer;
		}

		#project-table .tr .th:hover {
			background-color: rgba(176,176,176,0.1);
			box-shadow: 0px 0px 1px rgba(128,128,128,0.9);
		}

		#project-table .tr div {
			display: table-cell;
		}

		#project-table .tr:first-child div {
			border-bottom: 1px solid #000;
			text-align: left;
			font-weight: bold;
		}

		#project-table .tr div {
			padding: 5px;
		}

		#project-list .tr div,
		#project-grid .tr div {
			display: block;
			padding: 0;
		}

		#project-table .tr div:nth-child(1),
		#project-table .tr div:nth-child(3),
		#project-table .tr div:nth-child(4),
		#project-table .tr div:nth-child(5),
		#project-table .tr div:nth-child(6) {
			text-align: center;
		}

		#project-table .tr div:nth-child(8) {
			/*text-align: right;*/
		}

		#project-list .tr div:nth-child(2), /* TITLE */
		#project-list .tr div:nth-child(3), /* INITIATE*/
		#project-list .tr div:nth-child(4), /* UPDATE */
		#project-list .tr div:nth-child(5), /* STATUS */
		#project-list .tr div:nth-child(6), /* PROGRESS */
		#project-list .tr div:nth-child(7), /* LANGUAGE */
		#project-list .tr div:nth-child(8) { /* TECHNOLOGIES */
			display: block;
			position: absolute;
		}

		#project-grid .tr div:nth-child(2), /* TITLE */
		#project-grid .tr div:nth-child(3), /* INITIATE*/
		#project-grid .tr div:nth-child(4), /* UPDATE */
		#project-grid .tr div:nth-child(5), /* STATUS */
		#project-grid .tr div:nth-child(6), /* PROGRESS */
		#project-grid .tr div:nth-child(7), /* LANGUAGE */
		#project-grid .tr div:nth-child(8) { /* TECHNOLOGIES */
			display: block;
			position: static;
			margin: 0px;
		}

		#project-list .tr div:nth-child(2) {
			left: 106px;
			top: 10px;
			margin: 0;
			font-size: 24px;
		}

		#project-list .tr div:nth-child(3) {
			left: 106px;
			bottom: 10px;
		}

		#project-list .tr div:nth-child(4) {
			left: 200px;
			bottom: 10px;
		}

		#project-list .tr div:nth-child(5) {
			left: 290px;
			bottom: 10px;
		}

		#project-list .tr div:nth-child(6) {
			left: 330px;
			bottom: 10px;
		}

		#project-list .tr div:nth-child(7) {
			top: 10px;
			right: 10px;
		}

		#project-list .tr div:nth-child(8) {
			bottom: 10px;
			right: 10px;
		}

		#project-grid .tr div:nth-child(1) {
			display: block;
			width: 100%;
			border-bottom: 1px solid #aaa;
		}

		#project-grid .tr div:nth-child(2) {
			margin: 10px;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 24px;
		}

		#project-grid .tr div:nth-child(3) {
			float: left;
			padding: 10px;
			width: 50%;
		}

		#project-grid .tr div:nth-child(4) {
			float: right;
			padding: 10px;
			width: 50%;
			text-align: right;
		}

		#project-grid .tr div:nth-child(5) {
			float: left;
			padding: 10px;
			width: 20%;
		}

		#project-grid .tr div:nth-child(6) {
			float: right;
			padding: 10px;
			width: 80%;
			text-align: right;
		}

		#project-grid .tr div:nth-child(7) {
			float: left;
			margin: 10px;
		}

		#project-grid .tr div:nth-child(8) {
			float: right;
			margin: 10px;
		}

			#project-table .tr div:nth-child(8) span,
			#project-list .tr div:nth-child(8) span,
			#project-grid .tr div:nth-child(8) span {
				color: #247;
				font-weight: bold;
			}

			#project-table img {
				vertical-align: middle;
			}

			#project-list img {
				width: 96px; 
				height: 96px;
				background-color: #fff;
				border-right: 1px solid #aaa;
			}

			#project-list img.grid-visible {
				object-fit: cover;
			}

			#project-grid img {
				width: 100%;
				object-fit: cover;
				aspect-ratio: 4 / 3;
			}

			#project-table progress,
			#project-list progress {
				width: 60px;
				height: 20px;
			}

			#project-grid progress {
				width: 100%;
				height: 20px;
			}

@media only screen and (max-width: 700px) {

	#project-grid .tr {
		width: calc(100% - 10px);
	}

		#project-table .tr div:nth-child(1),
		#project-table .tr div:nth-child(3),
		#project-table .tr div:nth-child(4),
		#project-table .tr div:nth-child(5),
		#project-table .tr div:nth-child(6),
		#project-table .tr div:nth-child(7),
		#project-list .tr div:nth-child(3),
		#project-list .tr div:nth-child(4),
		#project-list .tr div:nth-child(5),
		#project-list .tr div:nth-child(6),
		#project-list .tr div:nth-child(7) {
			display: none;
		}

}